<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="github" value="https://nuget.pkg.github.com/andrey-aka-skif/index.json" />
	</packageSources>

	<!-- Все пакеты по умолчанию с NuGet -->
	<packageSourceMapping>
		<clear />
		<packageSource key="nuget">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>

	<!-- Приватные пакеты с GitHub -->
	<packageSource key="github">
		<package pattern="AndreyAkaSkif.*" />
	</packageSource>
</configuration>
